#stepperDiv{
    /* border: 1px solid black; */
    display: flex;
    justify-content:center  ;
    /* margin-top: 10px; */
}

/* #buttonsdiv{
    border: 1px solid #00000029;
      height: 50px;
      width: 400px;
    display: flex;
    
    justify-content: space-between;
  
} */
#btnMainDiv{
    border: 1px solid #00000029;
    height: 100px;
    width: 500px;
    display:flex ;
    align-items: center;
    margin-left: 30%;
    border-radius: 8px;
}

#formdiv{
width: 50%;
margin-left: 25%;
padding:50px
}
#navBtn{
    background: #086288;
    color:aliceblue
}


/* To coverride the circle icon  properties */
circle,path{
    color: green !important;
    display: block;
  
}
.MuiStepIcon-root.MuiStepIcon-completed{
    visibility: visible;
}
.MuiSvgIcon-root{
    visibility: hidden;
}


.MuiStepLabel-label{
    color: #086288 !important;
    /* font-weight: 500; */
    /* font-weight: 600; */
}
.MuiStepLabel-label.MuiStepLabel-active{
    color: #086288 !important;
    font-size: 25px;
}
.MuiStepLabel-label.MuiStepLabel-completed{
    color: #086288 !important;
    /* font-weight: 500; */

}
.dummyDiv{
    width: 60px;
    border-bottom: 5px solid #FAA81D;
}